@import url('https://font.nmscd.com/assets/font/NMSFuturaProBook_Kerned/Web-TT/NMSFuturaProBook_Kerned.css');

body{
    background-color: #191c1f;
}

nav ul li {
    font-size: 1.7em;  /*EM = pega a fonte padrão do site, e poe 1.5(nesse caso) cm a mais. */
    font-family: NMSFuturaProBook;
}

html{
    scroll-behavior: smooth;
}

.accordion-button{
    color: inherit;
    background: #2e2e46;
    color: white;
}

.accordion-button:not(.collapsed){
    color: inherit;
    background: #9f6bc0;
    color: white;
}

.accordion-button:not(.collapsed)::after {
    filter: brightness(0%) invert(70%)
}

.accordion-button::after {
    filter: brightness(0%) invert(70%)
}

.accordion-button:focus {
    box-shadow: inherit;
}

.site-footer
{
  background-color:#212529;
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:#737373;
}
.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a
{
  color:#737373;
}
.site-footer a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:#737373
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}
.site-footer .social-icons
{
  text-align:right
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#33353d
}
.copyright-text
{
  margin:0
}
@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
}
.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}
.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px
}
.social-icons a{
  background-color:#eceeef;
  color:#818a91;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
  background-color:#29aafe
}
.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}
.social-icons a.github:hover
{
  background-color:#464646
}
.social-icons a.youtube:hover
{
  background-color:#e90e0e
}
.social-icons a.linkedin:hover
{
  background-color:#007bb6
}
.social-icons a.dribbble:hover
{
  background-color:#ea4c89
}
@media (max-width:767px)
{
  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }
}

.icon_esp{
    width: 6%;
    position: relative;
    display: block;
}

.accord-text{
    margin-left: 3%;
    margin-top: 1%;
    font-size: 1.1em;
}

.carrossel h5{
    font-family: NMSFuturaProBook;
    font-size: 2.0em;
    background-color: #191c1f;
}

.carrossel p{
    font-size: 1.2em;
    background-color: #191c1f;
}

.card-header{
    font-size: 2.0em;
    font-family: NMSFuturaProBook;
}

.blocos{
    margin-bottom: 3%;
    margin-top: 2%;
}

.cartao{
    margin-left: 15%;
}
.card-title{
    text-align: center;
}

.cardbutton{  
    text-align: center;
    width: 100%;
    background-color: #65088C;
    border: none;
    color: #fff;
}

.cardbutton:hover{
    background-color: #65088C;
    border: none;
    color: #fff;
}
